  @model List<Restaurant>

<section class="ftco-section ftco-menu bg-light">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Restaurant</span>
                <h2>Restaurant</h2>
            </div>
        </div>
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model.Take(6))
                {
                    <div class="col-lg-6 col-xl-4 d-flex">
                        <div class="pricing-entry rounded d-flex ftco-animate">
                            <div class="img" style="background-image: url(/images/@item.ImageUrl);"></div>
                            <div class="desc p-4">
                                <div class="d-md-flex text align-items-start">
                                    <h3><span>@item.Name</span></h3>
                                    <span class="price">@item.Price</span>
                                </div>
                                <div class="d-block">
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No restaurant menu items available.</p>
            }



            <div class="col-md-12 text-center ftco-animate">
                <p>
                    <a asp-controller="Restaurant" asp-action="ViewAllMenu" class="btn btn-primary rounded">
                        View All Menu
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>


