@model List<CommentsWithRoomIDViewModel>


<div class="pt-5 mt-5">
    @* show comments  *@
    <h3 class="mb-5">Comments</h3>
    <ul class="comment-list">    
        @foreach (var comment in Model)
        {
            <li class="comment">
                <div class="comment-body">
                    <h2>@comment.GuestName</h2>
                    <div class="meta">@comment.CreatedAt.ToString("MMM dd, yyyy hh:mm tt")</div>
                    <h3>@comment.CommentText</h3>
                    <p><a href="#" class="reply">Reply</a></p>
                </div>
            </li>
        }
    </ul>


    <!-- END comment-list -->


    <!-- write new comment  -->

    <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Leave a comment</h3>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" cols="30" rows="10" class="form-control"></textarea>
            </div>

            <div class="form-group">
            <input type="button" value="Send Comment" class="btn py-3 px-4 btn-primary" onclick="SendComment()">
            </div>
      
    </div>

</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"
        integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
     //1
     var hub = new signalR.HubConnectionBuilder()
     .withUrl("/CommentHub")
     .build();
     //2
     hub.start().then(
         function(){
            console.log("Hub Connect Opened Success");
         }
     ).catch(
         function(error){
              console.log("Error while connecting: ", error);
         });

    //3
       hub.on("ReceiveComment", function (guestName, CreatedAt, commentText) {
        var commentList = document.querySelector(".comment-list");
        var newComment = document.createElement("li");
        newComment.classList.add("comment");
        newComment.innerHTML = `
            <div class="comment-body">
                <h2>${guestName}</h2>
                <div class="meta">${new Date(CreatedAt).toLocaleString()}</div>
                <h3>${commentText}</h3>
                <p><a href="#" class="reply">Reply</a></p>
            </div>
        `;
        commentList.appendChild(newComment);
    });

     function SendComment(){
         var messageText = $("#message").val();
          var guestName= "@User.Identity.Name";
          var CreatedAt = new Date().toISOString();

         hub.invoke("NewComment", guestName,CreatedAt, messageText)
              .then(()=>{
               console.log("Comment sent successfully");
          })
          .catch(error=>{
               console.error("Error sending comment:", error);
          });
     }



</script>